
::selection {
    background: #f7d07e;
}
html, body {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 1%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    
}

.ascii{
    text-align: center;
    position: static;
}

body {
    font-size: 13pt;
    font-family: monospace;
    color: white;
    background-color: black;
}
   

button{
  height: 5%;
}
/* element */

label{
    font-size: 13pt;
}
textarea{
position:sticky;
  font-size: 12pt;
  border-color: currentcolor;
  outline-color: currentcolor;
  background-color: transparent;
  background-image: none;
  overflow: auto;
  padding: 0;
  border: none;
  resize: none;
  overflow: hidden;
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    color: white
}
select{
    padding:1vmax;
    font-size: 13pt;
    border: 1px solid #dddddd;
    outline: none;
    letter-spacing: 3px;
}

.neon{

position: absolute;
color: black;
width: 100%;
    height: 100%;
    text-align: center;
margin-top: -230;
margin-left: -3;

}

#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #contenedor > div {
    width: 50%;
  }

table{
  width: 30%;
  text-align: center;
  
}
  .right {
 
        padding:0.25vmax;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        font-size: 11pt;
        font-family: monospace;
        border-right: none;
        
        
    
  }
  .middle {
    width: 33.33%;
    margin: 0
    
  }

  @media only screen and (max-width: 650px) {
    body {
      font-size: 9pt;
      padding-top: 15px;
      text-align: justify;
      margin-top: 0;
        margin-bottom: 2%;
        margin-left: 0;
        margin-right: 0;
    }

.neon{

    position: absolute;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: -170;
    margin-left: -3;
    
    }
    textarea{
      position:sticky;
      
        font-size: 11pt;
        border-color: currentcolor;
        outline-color: currentcolor;
        background-color: transparent;
        background-image: none;
        overflow: auto;
        width:  45%;
        padding: 0;
        border: none;
        resize: none;
        overflow: hidden;
          outline:0px !important;
          -webkit-appearance:none;
          box-shadow: none !important;
          color: white
      }
  }