
@charset "utf-8";

@font-face {
    font-family: 'Retro-gaming';
    src: url('./fonts/Retro\ Gaming.ttf') format('truetype');
}

@font-face {
    font-family: 'VT323';
    src: url('./fonts/VT323-Regular.ttf') format('truetype');
}


html,
body {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 1%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
    scroll-behavior: smooth;
    color: white;
    background-color: black;
    font-family: "Retro-gaming";
}
/*Estilo botones focuseados*/
button:focus {
    outline: none;
    color: white;
    box-shadow: 0 0 0 3px #40f2fe;
    border: none;
    cursor: pointer;
    animation: neonEffect 5s infinite;
  }

/*Estilo modificadores*/
.modificador{
    background: transparent;
    border: none !important;
    display: none;
}

.modificador:focus{
    outline: none;
    color: white;
    box-shadow: none;
    border: none;
    cursor: pointer;
    animation: neonEffect 5s infinite;
}

/* Estilo para los jugadores */
.jugador1{
    width: 35%;
    margin-left: 10%;
    margin-right: 5%;
}
  
.jugador2{
    width: 35%;
    margin-left: 5%;
    margin-right: 10%;
}

/*Estilo para la clasificación*/
.toc{
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
    font-size: 25pt;
}

.entry {
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-areas: "chapter page";
    align-items: end;
    gap: 0 .25rem; /* customize the gap to your needs */
}
  
.chapter {
    grid-area: chapter;
    position: relative;
    overflow: hidden;
}
  
.chapter::after {
    position: absolute;
    padding-left: .25ch; /* customise the padding to your needs */
    /* adjust the amount of dots to your needs */
    content: " . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . ";
    text-align: right; /* optional, can be removed */
  }
  
.page {
    grid-area: page;
}

.sub {
    font-size: 1.5vw;
}

* {
    cursor: none;
}


.info{
    max-width: 50%;
    align-items: center;
    text-align: center;
    margin: 0 auto;    
}

.tiempo {
    font-family: "Retro-gaming";
    font-size: 2.5vw;
}

.explicación {
    font-size: 2vw;
    color: red;
    font-weight: bold;
    margin: 0 auto;  
}

.palabra {
    font-family: monospace;
    font-weight: bold;
    max-height: 5vw;
    max-width: 50%;
    font-size: 1.5vw;
    color: black;
    background-color: yellow;
    margin: 0 auto;  
}

.palabra1 {
    font-family: monospace;
    font-weight: bold;
    max-height: 5vw;
    max-width: 50%;
    font-size: 1.5vw;
    color: black;
    background-color: yellow;
    margin: 0 auto; 
}

.palabra2 {
    font-family: monospace;
    font-weight: bold;
    max-height: 5vw;
    max-width: 50%;
    font-size: 1.5vw;
    color: black;
    background-color: yellow;
    margin: 0 auto;  
}

.definicion {
    font-weight: bold;
    font-size: 1vw;
    font-family: monospace;
    color: white;
    max-height: 1.5em;
    max-width: 50%;
    overflow-x: scroll;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    scrollbar-width: none;
    margin: 0 auto;  
}

.definicion1 {
    font-weight: bold;
    font-size: 1vw;
    font-family: monospace;
    color: white;
    max-height: 1.5em;
    max-width: 50%;
    overflow-x: scroll;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    scrollbar-width: none;
    margin: 0 auto;  
}

.definicion2 {
    font-weight: bold;
    font-size: 1vw;
    font-family: monospace;
    color: white;
    max-height: 1.5em;
    max-width: 50%;
    overflow-x: scroll;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    scrollbar-width: none;
    margin: 0 auto;  
}

.focalizador{
    font-size: 15;
    text-align: center;
}

.feedback1{
    font-size: 2.5vw;
    position: absolute;
    left: 17.5%;
    z-index: 1;
}
  
.feedback2{
    font-size: 2.5vw;
    position: absolute;
    left: 62.5%;
    z-index: 1;
}

button {
    font-family: "Retro-gaming";
    height: 5%;
}

textarea {
    font-family: "VT323";
    position: sticky;
    font-size: 3vw;
    font-weight: bold;
    border-color: currentcolor;
    outline-color: currentcolor;
    background-color: transparent;
    background-image: none;
    overflow: auto;
    padding: 0;
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    color: white;
}

.textarea_blur {
    font-family: "VT323";
    filter: blur(10px);
    -webkit-filter: blur(10px);
    font-family: "VT323";
    position: sticky;
    font-size: 3vw;
    font-weight: bold;
    border-color: currentcolor;
    outline-color: currentcolor;
    background-color: transparent;
    background-image: none;
    overflow: auto;
    padding: 0;
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    color: white;
  }

.temas {
    color: red;
    font-size: 2vw;
    font-weight: bold;
}

.nombre {
    width: 100%;
    font-family: "Retro-gaming";
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    border-color: currentcolor;
    outline-color: currentcolor;
    background-color: transparent;
    background-image: none;
    overflow: auto;
    padding: 0;
    border: none;
    resize: none;
    overflow: hidden;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    color: white
  }

select {
    padding: 1vmax;
    font-size: 13pt;
    border: 1px solid #dddddd;
    outline: none;
    letter-spacing: 3px;
}

.neon {
    font-size: 1.5vw;
    position: relative;
    content: attr(data-title);
    z-index: 1;
    color: white;
    font-weight: 100;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    animation: neonEffect 5s infinite;
  }  

.rotate-vertical-center{animation:rotate-vertical-center 2s} @keyframes rotate-vertical-center{0%{transform:rotateY(0)}100%{transform:rotateY(360deg)}}

@keyframes neonEffect {

    0%,
    35%,
    45%,
    65%,
    100% {
        text-shadow:
            white 0 0 12px,
            #40f2fe 0 0 10px,
            #40f2fe 0 0 10px;
    }

    40%,
    60% {
        text-shadow: none;
    }
}

#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

table {
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.right {
    padding: 0.25vmax;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    font-size: 1.0vw;
    font-family: "Retro-gaming";
    border-right: none;
}

th{
    padding: 0 10 0;
}

.middle {
    width: 33.33%;
    margin: 0
}

.bn54 {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 7vw;
    width: 21vw;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.bn54 .bn54span {
    color: #000000;
    font-size: 2.5vw;
    letter-spacing: 0.1vw;
}

.bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes bn54rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes bn54storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

* {
    margin: 0;
  }
  
  .bg {

    animation: color-change 10s linear infinite;
    position: relative;
  }
  
  .bg::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    animation: flash 4s linear infinite;
  }
  
  .lightning {
    position: absolute;
    top: 12%;
    left: 0%;
    right: 45%;
    margin: auto;
    width: 10vw;
    height: 20vw;
    opacity: 0;
    animation: lightning 4s linear infinite;
  
    background: url("https://www.freepnglogos.com/uploads/lightning-png/download-lightning-png-transparent-image-and-clipart-2.png")
      top center / 100% auto no-repeat;
  }
  
  .rain {
    height: 100vh;
    background: url("https://www.freeiconspng.com/thumbs/rain-png/rain-png-transparent-9.png");
    /*   filter:  contrast(400%); */
    animation: rain 0.5s linear infinite;
  }
  
  @keyframes rain {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: -20% 100%;
    }
  }
  
  @keyframes color-change {
    0%,
    100% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(360deg);
    }
  }
  
  @keyframes flash {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    12% {
      opacity: 0.3;
    }
    14% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    22% {
      opacity: 0.6;
    }
    26% {
      opacity: 0;
    }
  }
  
  @keyframes lightning {
    0% {
      height: 0px;
    }
    8% {
      height: 0px;
      opacity: 0;
    }
    10% {
      opacity: 1;
      height: 88px;
    }
    11% {
      opacity: 0;
      height: 88px;
    }
  
    18% {
      height: 0px;
      opacity: 0;
    }
    20% {
      opacity: 1;
      height: 144px;
    }
    25% {
      opacity: 1;
      height: 144px;
    }
    40% {
      opacity: 0;
    }
  }
  