@charset "utf-8";

@font-face {
    font-family: 'Retro-gaming';
    src: url('../css/fonts/Retro\ Gaming.ttf') format('truetype');
}

@font-face {
    font-family: 'VT323';
    src: url('../css/fonts/VT323-Regular.ttf') format('truetype');
}

/* 驴Se usa? */
button:focus {
    outline: none;
    color: white;
    box-shadow: 0 0 0 3px #40f2fe;
    border: none;
    cursor: pointer;
    animation: neonEffect 5s infinite;
  }

.wordsrotator_words {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    -webkit-transition: width 100ms;
    -moz-transition: width 100ms;
    -o-transition: width 100ms;
    transition: width 100ms;
}

.wordsrotator_words .wordsrotator_wordOut,
.wordsrotator_words .wordsrotator_wordIn {
    font-family: "Retro-gaming";
    font-size: 20pt;
    font-weight: bold;
    position: relative;
    display: inline-block;
    -webkit-animation-duration: 50ms;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 50ms;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 50ms;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
}

.wordsrotator_words .wordsrotator_wordOut {
    left: 0;
    top: 0;
    position: absolute;
    display: inline-block;
}

.wordsrotator_words .wordsrotator_wordOut span {
    width: auto;
    position: relative;
}

.wordsrotator_words .wordsrotator_wordIn {
    opacity: 0;
}

/* Unused */

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

/* Animaci贸n de temas */

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

::selection {
    background: #f7d07e;
}

html,
body {
    width: auto;
    height: auto;
    margin-top: 0;
    margin-bottom: 1%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

.sub {
    font-size: 10;
}

.ascii {
    text-align: center;
    position: static;
}

.parametro{
    background-color: transparent;
    font-family: "Retro-gaming";
    text-align: center;
    width: 70%;
    border: none;
    color:red;
    font-size: 1.2vw;
    text-shadow: -0.0625em -0.0625em black, 0.0625em 0.0625em aqua;
}

.explicaci贸n {
    font-size: 23pt;
    font-family: "Retro-gaming";
    color: red;
}

.definicion {
    font-size: 10pt;
    font-family: "Retro-gaming";
    color: white;
}

.palabra {
    color: black;
    background-color: yellow;
}

body {
    font-size: 13pt;
    font-family: "Retro-gaming";
    color: white;
    background-color: black;
    color:aqua;
    text-shadow: 0.0625em 0.0625em red;
}

button {
    height: 5%;
}

/* element */

label {
    font-size: 1.5vw;
}

.textarea {
    font-family: 'VT323';
    word-break:break-word;
    display: block;
    hyphens:auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow-y:hidden;
    text-align: justify;
    align-items: center;
    position: sticky;
    font-size: 1vw;
    font-weight: bold;
    border-color: currentcolor;
    outline-color: currentcolor;
    background-color: transparent;
    background-image: none;
    padding: 0;
    border: none;
    resize: none;
    overflow: hidden;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
}

.letra-verde {
    color: lime;
  }
  
  .letra-roja {
    color: red;
  }

.textarea_blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    position: sticky;
    font-size: 16pt;
    border-color: currentcolor;
    outline-color: currentcolor;
    background-color: transparent;
    background-image: none;
    overflow: auto;
    padding: 0;
    border: none;
    resize: none;
    overflow: hidden;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    color: rgb(155, 155, 155)
}

.votos{
    width: 5%;
    text-align: right;
    position: sticky;
    font-size: 18pt;
    font-weight: bold;
    border-color: currentcolor;
    outline-color: currentcolor;
    background-color: transparent;
    background-image: none;
    overflow: auto;
    padding: 0;
    border: none;
    resize: none;
    overflow: hidden;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    color: white;
}

.nombre {
    font-family: "Retro-gaming";
    text-transform: uppercase;
    text-align: center;
    position: sticky;
    font-size: 2vw;
    font-weight: bold;
    border-color: currentcolor;
    outline-color: currentcolor;
    background-color: transparent;
    background-image: none;
    overflow: auto;
    padding: 0;
    border: none;
    resize: none;
    overflow: hidden;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    color: white;
}

select {
    padding: 1vmax;
    font-size: 13pt;
    border: 1px solid #dddddd;
    outline: none;
    letter-spacing: 3px;
}

.neon {
    position: relative;
    content: attr(data-title);
    z-index: 1;
    color: white;
    font-weight: 100;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    animation: neonEffect 5s infinite;
}

@keyframes neonEffect {

    0%,
    35%,
    45%,
    65%,
    100% {
        text-shadow:
            white 0 0 12px,
            #40f2fe 0 0 10px,
            #40f2fe 0 0 10px;
    }

    40%,
    60% {
        text-shadow: none;
    }
}

#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contenedor>div {
    width: 50%;
}

table {
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.right {
    padding: 0.25vmax;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    font-size: 1vw;
    font-family: "Retro-gaming";
    border-right: none;
}

.middle {
    width: 33.33%;
    margin: 0
}

.placeholder{
    font-family: "Retro-gaming";
    background-color: transparent;
    border: none;
    color: white;
}

.frase_final{
    font-family: "Retro-gaming";
    background-color: transparent;
    border: none;
    color: white;
    text-shadow: -0.0625em -0.0625em black, 0.0625em 0.0625em red;
    width: 50%;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.75em; /* 60px / 16px base font size = 3.75em */
    height: 2.125em; /* 34px / 16px base font size = 2.125em */
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "Ъ"; /* Agregar el emoji del jab贸n */
    font-size: 1em; /* Ajustar el tama帽o del emoji */
    line-height: 1.625em; /* Alineaci贸n vertical */
    text-align: center; /* Alineaci贸n horizontal */
    height: 1.625em; /* 26px / 16px base font size = 1.625em */
    width: 1.625em; /* 26px / 16px base font size = 1.625em */
    left: 0.25em; /* 4px / 16px base font size = 0.25em */
    bottom: 0.25em; /* 4px / 16px base font size = 0.25em */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; /* Hacerlo redondo */
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.625em); /* Ajuste proporcional */
    -ms-transform: translateX(1.625em);
    transform: translateX(1.625em);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 2.125em; /* Mantener la proporci贸n del border-radius */
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Estilos base para .start-btn */
.btn {
    text-align: center;
    display: inline-block;
    font-size: 0.8em;
    margin: 0.5em;
    font-weight: bold;
    padding: 0.625em 0.625em 0.625em 1em;
    background-color: #505050;
    border-radius: 0.4375em;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s; /* Agrega una transici贸n suave para transform y box-shadow */
    color: aqua;
    text-shadow: 0.0625em 0.0625em red;
    box-shadow: 0 0.2em red;
}

/* Estilos para active (hacer clic en el bot贸n) */
.btn:active {
    transform: scale(0.95); /* Hace que el bot贸n parezca presionado */
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.2); /* Sombra m谩s sutil al hacer clic */
}


.display_modo{
    font-family: "Retro-gaming";
    color: white;
    font-size: 1em;
    text-align: center;
}
.tiempo{
    font-family: "Retro-gaming";
    color: white;
    font-size: 1em;
    text-align: center;
}

@media only screen and (max-width: 650px) {
    .nombre {
        margin-left: 25%;
        text-align: left;
        position: sticky;
        font-size: 10pt;
        font-weight: bold;
        border-color: currentcolor;
        outline-color: currentcolor;
        background-color: transparent;
        background-image: none;
        overflow: auto;
        padding: 0;
        border: none;
        resize: none;
        overflow: hidden;
        outline: 0px !important;
        -webkit-appearance: none;
        box-shadow: none !important;
        color: white
    }

    body {
        font-size: 9pt;
        padding-top: 15px;
        text-align: justify;
        margin-top: 0;
        margin-bottom: 2%;
        margin-left: 0;
        margin-right: 0;
    }

}