
@charset "utf-8";

@font-face {
    font-family: 'Retro-gaming';
    src: url('../../../css/fonts/Retro\ Gaming.ttf') format('truetype');
}

@font-face {
    font-family: 'VT323';
    src: url('../../../css/fonts/VT323-Regular.ttf') format('truetype');
}


html,
body {
    display:flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    color: white;
    background-color: black;
    font-family: "Retro-gaming";
}

.textarea {
    word-break:break-word;
    display: block;
    hyphens:auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow-y:hidden;
    text-align: justify;
    font-family: "VT323";
    position: sticky;
    font-size: 8vw;
    font-weight: bold;
    border-color: currentcolor;
    outline-color: currentcolor;
    background-color: transparent;
    background-image: none;
    padding: 0;
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    color: white;
    height: 4.5em; /* Updated this from a fixed height */
    min-height: /*simultatin 1 row*/ calc(1.5em * 1);
    max-height: calc(1.5em * 5) ;
}

.letra-verde {
    color: lime;
  }
  
  .letra-roja {
    color: red;
  }

p{
    font-size: 5vw;
}

#countdown {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    transition: 1s;
    font-size: 0vw;
    opacity: 100%;
    color: white; 
  }

.nombre {
    width: 100%;
    font-family: "Retro-gaming";
    text-align: center;
    font-size: 6vw;
    font-weight: bold;
    border-color: currentcolor;
    outline-color: currentcolor;
    background-color: transparent;
    background-image: none;
    overflow: auto;
    padding: 0;
    border: none;
    resize: none;
    overflow: hidden;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    color: white
  }

  .right {
    padding: 0.25vmax;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    font-size: 3.5vw;
    font-family: "Retro-gaming";
    
}
th{
    padding: 10;
}

.puntos{
    color:white
}

.nivel{
    color: white;
}

.tiempo{
    text-align: center;
}

.contenedor{
    display: flex;
            justify-content: center;
            align-items: center;
            /*height: 100vh; /* Esto hace que el div ocupe todo el alto de la pantalla */
            width: 100%;
}

.btn{
    font-family: "Retro-gaming";
    margin : 0.5vw;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-size: 3.5vw;
    line-height: 1.0;
    text-align: center;
    background-color: transparent;
    border: 0.2vw solid transparent;
    padding: 6px 12px;
    border-radius: 1.0rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: white;
    border-color: white;
}

.btn-edicion{
    line-height: 1;
    font-size: 6vw;
    border-radius: 0.4rem;


}


.btn:hover {
    color: black;
    background-color: white;
    border-color: white;
}

.notificacion{
    display: none;
    padding: 0.25vmax;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    font-size: 3.5vw;
    font-family: "Retro-gaming";
    
}

.input_publico{
    font-family: "Retro-gaming";
}

.skill {
    position: relative;
    border: 0.5vw solid greenyellow;
    border-radius: 5%;
    width: 9vw;
    height: 9vw;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    font-size: 6vw; /* Ajusta el tamaño del emoji */
    display: none;
  }

.skill-cancel{
    border: 0.5vw solid red;
}
  
  /* Prevents you from clicked the button multiple times */
  .skill.disabled {
    display: flex;
    pointer-events: none;
    border: 0.5vw solid red;

  }
  
  /* Makes sure we click the skill not anything in it */
  .skill > * {
    pointer-events: none;
  }
  
  .skill::before {
    content: "";
    background: conic-gradient(
      rgba(255, 0, 0, 0.7) var(--time-left),
      rgba(0, 0, 0, 0.1) var(--time-left));
    position: absolute;
    opacity: 0.8;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

@keyframes brillo {
    0%, 100% {
        box-shadow: 0 0 10px 0 greenyellow;
    }
    50% {
        box-shadow: 0 0 20px 10px greenyellow;
    }
}

.feedback_texto_editado{
    color: greenyellow;
    font-size: 4vw;
}