
@charset "utf-8";

@font-face {
    font-family: 'Retro-gaming';
    src: url('../../../css/fonts/Retro\ Gaming.ttf') format('truetype');
}

@font-face {
    font-family: 'VT323';
    src: url('../../../css/fonts/VT323-Regular.ttf') format('truetype');
}


html,
body {
    display:flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    color: white;
    background-color: black;
    font-family: "Retro-gaming";
}

.textarea {
    word-break:break-word;
    display: block;
    hyphens:auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow-y:hidden;
    text-align: justify;
    font-family: "VT323";
    position: sticky;
    font-size: 8vw;
    font-weight: bold;
    border-color: currentcolor;
    outline-color: currentcolor;
    background-color: transparent;
    background-image: none;
    padding: 0;
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    color: white;
    height: 4.5em; /* Updated this from a fixed height */
    min-height: /*simultatin 1 row*/ calc(1.5em * 1);
    max-height: calc(1.5em * 5) ;
}

.letra-verde {
    color: lime;
  }
  
  .letra-roja {
    color: red;
  }

p{
    font-size: 5vw;
}

#countdown {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    transition: 1s;
    font-size: 0vw;
    opacity: 100%;
    color: white; 
  }

.nombre {
    width: 100%;
    font-family: "Retro-gaming";
    text-align: center;
    font-size: 6vw;
    font-weight: bold;
    border-color: currentcolor;
    outline-color: currentcolor;
    background-color: transparent;
    background-image: none;
    overflow: auto;
    padding: 0;
    border: none;
    resize: none;
    overflow: hidden;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    color: white
  }

  .right {
    padding: 0.25vmax;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    font-size: 3.5vw;
    font-family: "Retro-gaming";
    
}

th{
    padding-left: 0.75vmax;
    padding-right: 0.75vmax;
}

.puntos{
    color:white
}

.nivel{
    color: white;
}

.tiempo{
    text-align: center;
}

.contenedor{
    display: flex;
            justify-content: center;
            align-items: center;
            /*height: 100vh; /* Esto hace que el div ocupe todo el alto de la pantalla */
            width: 100%;
}

.btn{
    position: relative; /* Importante para que .progress se posicione correctamente */
    overflow: hidden; /* Evita que el contenido se desborde */
    font-family: "Retro-gaming";
    margin : 0.5vw;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-size: 3.5vw;
    line-height: 1.0;
    text-align: center;
    background-color: transparent;
    border: 0.2vw solid transparent;
    padding: 6px 12px;
    border-radius: 1.0rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: white;
    border-color: white;
}

.btn.mostrarTexto {
    /* Fijar el ancho y el alto */
    width: 40vw; /* Ejemplo de ancho fijo */
    height: 10vw; /* Ejemplo de alto fijo */
    background-color: red;
}

.btn.bandera {
  /* Fijar el ancho y el alto */
  width: 40vw; /* Ejemplo de ancho fijo */
  height: 10vw; /* Ejemplo de alto fijo */
}

.btn-edicion{
    line-height: 1;
    font-size: 6vw;
    border-radius: 0.4rem;
}

.btn.inspirar{
    position: relative; /* Esto es crucial */
  overflow: hidden; /* Asegura que el .progress no se desborde fuera del botón */
  display: inline-block; /* O 'block', dependiendo de tu diseño */
}

.btn.repentizado{
    position: relative; /* Importante para que .progress se posicione correctamente */
    overflow: hidden; /* Evita que el contenido se desborde */
    font-family: "Retro-gaming";
    margin : 0.5vw;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-size: 3.5vw;
    line-height: 1.0;
    text-align: center;
    background-color: transparent;
    border: 0.2vw solid transparent;
    padding: 6px 12px;
    border-radius: 1.0rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: white;
    border-color: white;
}

.btn.repentizado:hover{
    color: black;
    background-color: white;
    border-color: white;
}


.btn.inspirar:hover {
    color: black;
    background-color: white;
    border-color: white;
}

.btn:hover {
    color: black;
    background-color: white;
    border-color: white;
}

.notificacion{
    padding: 0.25vmax;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    font-size: 3.5vw;
    font-family: "Retro-gaming";
    display: none;
}

.input_publico{
    font-family: "Retro-gaming";
}

.skill {
    position: relative;
    border: 0.5vw solid greenyellow;
    border-radius: 5%;
    width: 9vw;
    height: 9vw;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    font-size: 6vw; /* Ajusta el tamaño del emoji */
    display: none;
  }

.skill.inspirar{
    margin: auto;
    font-size: 4vw;
    width: 30vw;
    height: 8vw;
} 

.skill-cancel{
    border: 0.5vw solid red;
}
  
  /* Prevents you from clicked the button multiple times */
  .skill.disabled {
    display: flex;
    pointer-events: none;
    border: 0.5vw solid red;

  }
  
  /* Makes sure we click the skill not anything in it */
  .skill > * {
    pointer-events: none;
  }
  
  .skill::before {
    content: "";
    background: conic-gradient(
      rgba(255, 0, 0, 0.7) var(--time-left),
      rgba(0, 0, 0, 0.1) var(--time-left));
    position: absolute;
    opacity: 0.8;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

@keyframes brillo {
    0%, 100% {
        box-shadow: 0 0 10px 0 greenyellow;
    }
    50% {
        box-shadow: 0 0 20px 10px greenyellow;
    }
}
  
.progress {
    position: absolute; /* Se posiciona en relación a su contenedor más cercano que tiene una posición no estática */
    top: 0;
    left: 0;
    width: 0%; /* Inicialmente sin rellenar, puedes modificar este valor con JS */
    height: 100%; /* Asegura que ocupe todo el alto del botón */
    background-color: orange; /* Color de la barra de progreso */
    transition: width 0.4s ease; /* Efecto suave al cambiar el ancho */
    z-index: 1; /* Asegura que esté detrás del texto */
}


/* Estilos para el texto dentro del botón */
.text-progress {
    position: relative; /* Importante para controlar el z-index */
    z-index: 2; /* Asegura que el texto esté por encima de la barra de progreso */
    color: orange; /* Color del texto */
}

.feedback_texto_editado{
    color: greenyellow;
    font-size: 4vw;
}

#cooldownButton {
    position: relative;
    overflow: hidden;
    background-color: transparent; /* Color inicial del botón */
    color: white; /* Color del texto para asegurar que sea legible sobre el fondo oscuro */
    transition: background-color 0.5s; /* Suaviza la transición de colores */
  }
  
  @keyframes shakeAndFlash {
    0%, 100% {
      transform: translateX(0);
      color: initial; /* Color inicial del botón */
    }
    25% {
      transform: translateX(-1vw);
      color: red; /* Parpadeo rojo */
    }
    50% {
      transform: translateX(1vw);
      color: initial;
    }
    75% {
      transform: translateX(1vw);
      color: red; /* Parpadeo rojo */
    }
  }
  
  .disabled-click-feedback {
    animation: shakeAndFlash 0.5s;
  }

  #overlay {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Ocultar inicialmente */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    text-align: center; /* Centrar el texto */
}

#overlay p {
  margin: 2vh 5vw; /* 2vh arriba/abajo y 5vw a los lados */
  font-size: 8vw; /* Tamaño de fuente relativo al ancho de la pantalla */
  font-weight: bold; /* Para resaltar */
  color: white;
}

/* Definición de la animación para el pulso brillante */
/* Asegúrate de que el overlay esté en posición relativa para posicionar el pseudo-elemento */


/* Definición de la animación para el pulso brillante */
/* Animación de pulso brillante para rojo */
@keyframes brightPulse {
  0%, 100% {
    background: radial-gradient(circle, #ff4d4d 0%, #b30000 70%);
    filter: brightness(1);
  }
  50% {
    background: radial-gradient(circle, #ff9999 0%, #e60000 70%);
    filter: brightness(1.5);
  }
}

/* Animación de pulso brillante para azul */
@keyframes bluePulse {
  0%, 100% {
    background: radial-gradient(circle, #4da6ff 0%, #003399 70%);
    filter: brightness(1);
  }
  50% {
    background: radial-gradient(circle, #99ccff 0%, #3366ff 70%);
    filter: brightness(1.5);
  }
}

/* Clase para animación pulsante roja */
.bright-pulse-background {
  background: radial-gradient(circle, #ff4d4d 0%, #b30000 70%);
  background-size: 400% 400%;
  animation: brightPulse 1.5s ease-in-out infinite;
  transition: background 0.5s ease-in-out;
}

/* Clase para animación pulsante azul */
.blue-pulse-background {
  background: radial-gradient(circle, #4da6ff 0%, #003399 70%);
  background-size: 400% 400%;
  animation: bluePulse 1.5s ease-in-out infinite;
  transition: background 0.5s ease-in-out;
}